.action-item {
  cursor: pointer;
}

.component-toolbar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.component-toolbar li {
    padding: 5px;
    cursor: pointer;
}

.component-toolbar li .fa {
    margin-right: 5px;
}

.form-builder .row > div {
    border: solid 1px black;
    min-height: 100px;
}

.component-tree ul li .action-item,
.component-tree ul li .action-item + .fa {
    margin-left: 5px;
}

.drag-hovering {
    border: dotted 1px red;
}

.dragging {
    opacity: 0;
}

.add-child {
    margin-left: 5px;
    visibility: hidden;    
}

.component-tree .drag-hovering .add-child {
    visibility: visible;
}

.component-edit h4 .fa {
    margin-right: 5px;
}