.action-item {
  cursor: pointer;
}

.component-toolbar .fa {
    padding: 5px;
    border: solid 1px black;
    margin: 5px;
    cursor: pointer;
}

.form-builder > div {
    border: solid 1px black;
}

.component-tree ul li .action-item,
.component-tree ul li .action-item + .fa {
    margin-left: 5px;
}

.drag-hovering {
    border: dotted 1px red;
}